/*----Variables----*/
$font: Roboto, sans-serif; 
$secColor: #1a8cff;
/*----CURRICULUM PAGE----*/
/*----Header----*/
#background{
    background-color: #66B3FF;
    background-size: 2000px;
    background-attachment: fixed;
    header{
        text-align: center;
        img{
            border-radius: 50%;
            box-shadow: 0px 10px 10px -2px gray;
        }
        h1{
            background-color:$secColor;
            font-family: $font;
            box-shadow: 0px 6px 7px -2px gray;
        }
    }
}
/*----Body----*/
body{
    margin: 0px;
    background-color: #CCE6FF;
    font-family: $font;
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #home{
        font-size: 2rem;
        padding: 1rem;
        border-radius: 50%;
        background-color: #1a8cff;
        position: relative;
        left: 30rem;
    }
    #info-cv{
        box-shadow: 0px 10px 17px -1px gray;
        width: 35rem;
        padding: 1rem;
        i{
            font-size: 20px;
            color: rgb(102, 19, 180);
        }
        span{
            font-weight: bold;
            color: blue;
        }
        .carrera{
            padding-left: 8rem;
            color: rgb(64, 64, 255);
            font-style: italic;
            font-weight: bold;
        }
        h2:hover{
            transition: all 1s ease-in-out;
            box-shadow: 0px 7px 7px -2px gray;
            border-radius: 5rem;
            background-color:$secColor;
        }
    }
}
/*----PROYECTOS PAGE----*/
body {
    margin: 0px;
    #background-proyectos {
        display: flex;
        flex-direction: column;
        background-image: url('../img/4142726.jpg');
        background-size: 150rem;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 20rem;
        div{
            padding-top: 18rem;
        }
        p{
            justify-content: flex-end;
            text-align: center;
            font-size: 25px;
            font-family: $font;
            font-weight: bold;
            background-color: $secColor;
            height: 2rem;
            box-shadow: 0px 6px 7px -2px gray;
        }
    }
    #galeria{
        display: inline-grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(4, 50%);
        grid-template-rows: auto auto auto auto;
        grid-gap: 10px 15px;
        grid-template-areas: "heroes" "veterinaria";
        position: relative;
        top: 3rem;
        left: 3rem;
        .proyecto-heroes{
            grid-area: "heroes";
        }
        .proyecto-veterinaria {
            grid-area: "veterinaria";
        }
        .proyecto{
            width: 350px;
        }
        .proyecto:hover{
            filter: blur(2px);
            transform: scale(1.2);
            transition: all 0.5s;
        }
    }
    #icono-home{
        font-size: 2rem;
        padding: 1rem;
        border-radius: 50%;
        background-color: #1a8cff;
    }
    #home-proyectos{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 5rem;
    }
}